/* ============ Corrigindo as cores do menu dropdown ===========*/
div.Select-control {
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border: 0.5px solid #1b1e20;
    font-size: 80%;
}

.VirtualizedSelectOption {
    background-color: rgba(8, 8, 8, 0.75);
    color: rgb(231, 221, 221) !important;
}

.Select-value-label {
    color: rgb(170, 169, 169) !important;
}

#input{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border: 0.5px solid #1b1e20;
    font-size: 90%;
    color: rgb(231, 221, 221) !important;
}
